header{
  background-color: rgba(32, 194, 14, 0.6);
  padding-top: .5rem;
  padding-bottom: .5rem;
  /*position: fixed;*/
}

body {
  margin: 0;
  background-color: #f2f3f4;
  font-weight: 1rem;
}

header::after{
  content:'';
  display: table;
  clear: both;
}

.logo{
  padding-left: 1rem;
  float: left;
}

nav{
  float: right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 2rem;
  padding-top: 3rem;
  padding-right: 2rem;

  position: relative;
}

nav a{
  color:#f2f3f4;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover{
  color: #f2f3f4;
}

nav a::before{
  content: '';
  display: block;
  height: .25rem;
  background-color:#f2f3f4;

  width: 0%;
}

nav a:hover::before{
  width: 100%;
}

.centered {
  position: absolute;
  text-align: center;
  left: 20%;
  right: 20%;
  font-size: 5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0,0,0,0.3);
  color: #f2f3f4;
}

.containerSide {
  padding-top: .5rem;
  padding-bottom: 2rem;
  text-align: center;
  padding-right: 7rem;
  padding-left: 3rem;
}
.containerSide .image {
  padding-top: 3rem;
  width: 365px;
  float: left;
}

.containerSide .text {
  text-align: center;
  display: inline;
}

.containerSide h1 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
}

h1 {
  padding-top: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
}
